<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="AndroidNativeSuite" verbose="1" parallel="tests" thread-count="2">
 <test thread-count="5" name="Android native app test on Android 6.0">
        <parameter name="platform" value="Android 6.0"/>
       <parameter name="udid" value="BARCFIJRIVKVWWDE"/>
        <parameter name="systemPort" value="4625"/>
        <parameter name="URL_" value="192.168.1.3:4625/wd/hub"/>
  
    <classes>
      <class name="Test.parallelEx"/>
    </classes>
  </test> <!-- Test -->
      <test name="Android native app test on Android 5.0.1">
        <parameter name="platform" value="Android 5.0.2"/>
        <parameter name="udid" value="0123456789ABCDEF"/>
        <parameter name="systemPort" value="4625"/>
        <parameter name="URL_" value="192.168.1.3:4628/wd/hub"/>
        <classes>
            <class name="Test.parallelEx"/>
        </classes>
    </test>
  
</suite> <!-- Suite -->
